nav, footer {
    background-color: rgba(216, 211, 211, 0.5);
}

nav a, #navbarSupportedContent a {
    color: black;
}

main {
    margin-top: 8%;
}

main img {
    height: 80%;
}

footer p {
    color: black;
}

/*Loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}

#card-title {
    border: 1px solid white;
}

#fotoCards {
    margin-bottom: 3%;
}

#fotoCards h5{
    text-align: center;
    margin-top: 5%;
    height: 80%;
    background-color: rgba(233, 215, 227, 0.5);
}

#contenedorCards {
    width: 20%;
    padding-top: 3em;
}

#contenedorCards {
    height: 100%;
    width: 100%;
}

.card-img-overlay {
    height: 70%;
    margin-top: 10%;
}

/*Registro.html*/
.datos {
    margin-top: 30%;
}

.formulario h3, .datos h3, .datos h4 {
    text-align: center;
}

.caja {
    margin: auto;
}
